@font-face{
	font-family: Panton Black Caps;
	src: url(fonts/Panton/Panton-BlackCaps.woff) format("woff");
	font-style: normal;
	font-weight: normal;
}
@font-face{
	font-family: Open Sans;
	src: url(fonts/Open Sans/OpenSansRegular.ttf);
	font-style: normal;
	font-weight: normal;
}
@font-face{
	font-family: Open Sans Italic;
	src: url(fonts/Open Sans/OpenSansItalic.ttf) format("truetype");
	font-style: normal;
	font-weight: normal;
}